:root{
    --jyellow: #f0db4f ;
    --jblack: #323330
}

body{
    background-color: var(--jyellow);
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
